@model List<GameViewModel>
@section Title{
    WeB商店
}
@BodyContent
<div class="home_cluster_ctn home_ctn" xmlns="http://www.w3.org/1999/html">
    <div class="home_page_content">
        <h2 class="test">精选</h2>
        <div id="home_maincap_v7" class="carousel_container maincap">
            <div class="carousel_items">
                @foreach (var gameView in Model)
                {
                    <a class="store_main_capsule broadcast_capsule app_impression_tracked" data-manual-tracking="1" data-ds-appid="750920" href="http://localhost:8000/Store/Good?id=@gameView.Game.Id" data-ds-tagids="[21,19,21722,7208,1742]" data-ds-descids="[2,5]">
                        @{ List<GameResource> resources = gameView.Resources; }
                        <div class="capsule main_capsule" data-background-image-url="@resources[0].ImageAddr" style="background-image: url(&quot;@resources[0].ImageAddr&quot;);">
                            @for (int i = 1; i < resources.Count; i++)
                            {
                                <div class="screenshot" data-background-image-url="@resources[i].ImageAddr" style="background-image: url(&quot;@resources[i].ImageAddr&quot;);"></div>
                            }
                        </div>
                        <div class="info">
                            <div class="app_name">
                                <div>@gameView.Game.GameName</div>
                            </div>
                            <div class="screenshots">@for (int i = 1; i < resources.Count; i++){<div><div data-background-image-url="@resources[i].ImageAddr" style="background-image: url(&quot;@resources[i].ImageAddr&quot;);"></div> </div>}
                            </div>
                            <div class="reason">
                                <div class="main default">现已推出</div>
                                <div class="additional">
                                    <div>热销商品</div>
                                </div>
                            </div>
                            <div class="discount_block  no_discount discount_block_inline"> 
                                <div class="discount_prices"><div class="discount_final_price">¥ 379</div></div>
                            </div>
                            <div class="platforms">
                                <span class="platform_img win"></span>
                            </div>
                        </div>

                    </a>
                }
            </div>
            <div class="carousel_thumbs" data-usability="1">
                <div class="精选选项 focus" onclick="精选_跳转到(0)"></div>
                <div class="精选选项" onclick="精选_跳转到(1)"></div>
                <div class="精选选项" onclick="精选_跳转到(2)"></div>
                <div class="精选选项" onclick="精选_跳转到(3)"></div>
                <div class="精选选项" onclick="精选_跳转到(4)"></div>
                <div class="精选选项" onclick="精选_跳转到(5)"></div>
                <div class="精选选项" onclick="精选_跳转到(6)"></div>
                <div class="精选选项" onclick="精选_跳转到(7)"></div>
                <div class="精选选项" onclick="精选_跳转到(8)"></div>
                <div class="精选选项" onclick="精选_跳转到(9)"></div>
                <div class="精选选项" onclick="精选_跳转到(10)"></div>
                <div class="精选选项" onclick="精选_跳转到(11)"></div>
            </div>
            <div class="arrow left" data-usability="1"><div></div></div>
            <div class="arrow right" data-usability="1"><div></div></div>
        </div>

        <div style="overflow: visible;  margin-top: 60px;">

            <div class="home_tabs_content">
                <div class="tab_content" id="tab_newreleases_content">
                    <a href="https://store.steampowered.com/app/885150/Capcom_Beat_Em_Up_Bundle/?snr=1_4_4__tab-PopularNewReleases" class="tab_item app_impression_tracked" data-ds-appid="885150" data-ds-tagids="[19,4158,1773,1693]" data-ds-crtrids="[33273264]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://cdn.steamstatic.com.8686c.com/steam/apps/885150/capsule_184x69_schinese.jpg?t=1539190684">
                        </div>
                        <div class="discount_block tab_item_discount no_discount"> <div class="discount_prices"><div class="discount_final_price">¥ 112</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">Capcom Beat 'Em Up Bundle / カプコン ベルトアクション コレクション</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">动作</span><span class="top_tag">, 带状卷轴动作</span><span class="top_tag">, 街机</span><span class="top_tag">, 经典</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/860950/Mark_of_the_Ninja_Remastered/?snr=1_4_4__tab-PopularNewReleases" class="tab_item app_impression_tracked" data-ds-appid="860950" data-ds-tagids="[19,4667,492,4345,1687,1688,1625]" data-ds-descids="[2,5]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://cdn.steamstatic.com.8686c.com/steam/apps/860950/capsule_184x69.jpg?t=1539104261">
                        </div>
                        <div class="discount_block tab_item_discount no_discount"> <div class="discount_prices"><div class="discount_final_price">¥ 32</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">Mark of the Ninja: Remastered</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span><span class="platform_img mac"></span><span class="platform_img linux"></span>				<div class="tab_item_top_tags"><span class="top_tag">动作</span><span class="top_tag">, 暴力</span><span class="top_tag">, 独立</span><span class="top_tag">, 血腥</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/651500/My_Memory_of_Us/?snr=1_4_4__tab-PopularNewReleases" class="tab_item app_impression_tracked" data-ds-appid="651500" data-ds-tagids="[21,19,597,492]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://cdn.steamstatic.com.8686c.com/steam/apps/651500/capsule_184x69.jpg?t=1539095243">
                        </div>
                        <div class="discount_block tab_item_discount no_discount"> <div class="discount_prices"><div class="discount_final_price">¥ 62</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">My Memory of Us</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">冒险</span><span class="top_tag">, 动作</span><span class="top_tag">, 休闲</span><span class="top_tag">, 独立</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/496102/3DMark_Night_Raid_benchmark/?snr=1_4_4__tab-PopularNewReleases" class="tab_item app_impression_tracked" data-ds-appid="496102" data-ds-tagids="[87]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://cdn.steamstatic.com.8686c.com/steam/apps/496102/capsule_184x69.jpg?t=1539020551">
                        </div>
                        <div class="discount_block tab_item_discount"> <div class="discount_pct">-75%</div><div class="discount_prices"><div class="discount_original_price">¥ 88</div><div class="discount_final_price">免费</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">3DMark Night Raid benchmark</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">实用工具</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/812140/Assassins_Creed_Odyssey/?snr=1_4_4__tab-PopularNewReleases" class="tab_item app_impression_tracked" data-ds-appid="812140" data-ds-tagids="[19,1695,122,21,4182,1687,3987]" data-ds-descids="[1,2,5]" data-ds-crtrids="[33075774]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://cdn.steamstatic.com.8686c.com/steam/apps/812140/capsule_184x69_schinese.jpg?t=1539261069">
                        </div>
                        <div class="discount_block tab_item_discount no_discount"> <div class="discount_prices"><div class="discount_final_price">¥ 248</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">Assassin's Creed® Odyssey</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">动作</span><span class="top_tag">, 开放世界</span><span class="top_tag">, 角色扮演</span><span class="top_tag">, 冒险</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>

                    <a href="https://store.steampowered.com/app/936820/JGirl/?snr=1_4_4__tab-PopularNewReleases" class="tab_item app_impression_tracked" data-ds-appid="936820" data-ds-tagids="[12095,19,6650,492]" data-ds-descids="[1,5]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://cdn.steamstatic.com.8686c.com/steam/apps/936820/capsule_184x69.jpg?t=1539229002">
                        </div>
                        <div class="discount_block tab_item_discount"> <div class="discount_pct">-12%</div><div class="discount_prices"><div class="discount_original_price">¥ 26</div><div class="discount_final_price">¥ 23</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">J-Girl</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">色情内容</span><span class="top_tag">, 动作</span><span class="top_tag">, 裸露</span><span class="top_tag">, 独立</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/742300/Mega_Man_11__11/?snr=1_4_4__tab-PopularNewReleases" class="tab_item app_impression_tracked" data-ds-appid="742300" data-ds-tagids="[19,1625,1693,3798,1756,4026,4182]" data-ds-crtrids="[33273264]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://cdn.steamstatic.com.8686c.com/steam/apps/742300/capsule_184x69.jpg?t=1538715698">
                        </div>
                        <div class="discount_block tab_item_discount no_discount"> <div class="discount_prices"><div class="discount_final_price">¥ 162</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">Mega Man 11 / ロックマン11 運命の歯車!!</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">动作</span><span class="top_tag">, 平台</span><span class="top_tag">, 经典</span><span class="top_tag">, 横向卷轴</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/939760/Fist_of_love/?snr=1_4_4__tab-PopularNewReleases" class="tab_item app_impression_tracked focus" data-ds-appid="939760" data-ds-tagids="[597,492,6650,4085,12095,122,5611]" data-ds-descids="[5]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://cdn.steamstatic.com.8686c.com/steam/apps/939760/capsule_184x69.jpg?t=1538707325">
                        </div>
                        <div class="discount_block tab_item_discount no_discount"> <div class="discount_prices"><div class="discount_final_price">¥ 6</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">Fist of love</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">休闲</span><span class="top_tag">, 独立</span><span class="top_tag">, 裸露</span><span class="top_tag">, 日本动画</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/736190/__Chinese_Parents/?snr=1_4_4__tab-PopularNewReleases" class="tab_item app_impression_tracked" data-ds-appid="736190" data-ds-tagids="[599,597,492,122,493,4085,12095]" data-ds-crtrids="[33018259]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://cdn.steamstatic.com.8686c.com/steam/apps/736190/capsule_184x69_schinese.jpg?t=1538673264">
                        </div>
                        <div class="discount_block tab_item_discount no_discount"> <div class="discount_prices"><div class="discount_final_price">¥ 36</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">中国式家长 / Chinese Parents</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span><span class="platform_img mac"></span>				<div class="tab_item_top_tags"><span class="top_tag">模拟</span><span class="top_tag">, 休闲</span><span class="top_tag">, 独立</span><span class="top_tag">, 角色扮演</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/826600/Im_not_a_Monster/?snr=1_4_4__tab-PopularNewReleases" class="tab_item app_impression_tracked" data-ds-appid="826600" data-ds-tagids="[9,4667,122,492,14139,128,3859]" data-ds-descids="[2,5]" data-ds-crtrids="[32941116]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://cdn.steamstatic.com.8686c.com/steam/apps/826600/capsule_184x69_schinese.jpg?t=1539260672">
                        </div>
                        <div class="discount_block tab_item_discount no_discount"> <div class="discount_prices"><div class="discount_final_price">¥ 43</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">I’m not a Monster</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">策略</span><span class="top_tag">, 暴力</span><span class="top_tag">, 角色扮演</span><span class="top_tag">, 独立</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>



















                    <div class="tab_see_more">
                        查看更多：							<a href="https://store.steampowered.com/explore/new/?snr=1_4_4__tabsmore" class="btnv6_white_transparent btn_small_tall">
                            <span>新品</span>
                        </a>
                    </div>

                </div>
                <div class="tab_content" id="tab_topsellers_content" style="display: none;">
                    <a href="https://store.steampowered.com/app/578080/PLAYERUNKNOWNS_BATTLEGROUNDS/?snr=1_4_4__104" class="tab_item" data-ds-appid="578080" data-ds-tagids="[1662,1774,3859,1775,1663,3814,19]" data-ds-descids="[2,5]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_0">
                        </div>
                        <div class="discount_block tab_item_discount no_discount"> <div class="discount_prices"><div class="discount_final_price">¥ 98</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">PLAYERUNKNOWN'S BATTLEGROUNDS</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">生存</span><span class="top_tag">, 射击</span><span class="top_tag">, 多人</span><span class="top_tag">, 玩家对战</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/582010/MONSTER_HUNTER_WORLD/?snr=1_4_4__104" class="tab_item" data-ds-appid="582010" data-ds-tagids="[19,9564,1685,3859,1695,1697,122]" data-ds-crtrids="[33273264]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_1">
                        </div>
                        <div class="discount_block tab_item_discount"> <div class="discount_pct">-20%</div><div class="discount_prices"><div class="discount_original_price">¥ 308</div><div class="discount_final_price">¥ 246</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">MONSTER HUNTER: WORLD</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">动作</span><span class="top_tag">, 狩猎</span><span class="top_tag">, 合作</span><span class="top_tag">, 多人</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/736190/__Chinese_Parents/?snr=1_4_4__104" class="tab_item" data-ds-appid="736190" data-ds-tagids="[599,597,492,122,493,4085,12095]" data-ds-crtrids="[33018259]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_2">
                        </div>
                        <div class="discount_block tab_item_discount no_discount"> <div class="discount_prices"><div class="discount_final_price">¥ 36</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">中国式家长 / Chinese Parents</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span><span class="platform_img mac"></span>				<div class="tab_item_top_tags"><span class="top_tag">模拟</span><span class="top_tag">, 休闲</span><span class="top_tag">, 独立</span><span class="top_tag">, 角色扮演</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/838350/_The_Scroll_Of_Taiwu/?snr=1_4_4__104" class="tab_item" data-ds-appid="838350" data-ds-tagids="[493,122,9,492,3810,21,597]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_3">
                        </div>
                        <div class="discount_block tab_item_discount no_discount"> <div class="discount_prices"><div class="discount_final_price">¥ 68</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">太吾绘卷 The Scroll Of Taiwu</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">Early Access</span><span class="top_tag">, 角色扮演</span><span class="top_tag">, 策略</span><span class="top_tag">, 独立</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/812140/Assassins_Creed_Odyssey/?snr=1_4_4__104" class="tab_item" data-ds-appid="812140" data-ds-tagids="[19,1695,122,21,4182,1687,3987]" data-ds-descids="[1,2,5]" data-ds-crtrids="[33075774]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_4">
                        </div>
                        <div class="discount_block tab_item_discount no_discount"> <div class="discount_prices"><div class="discount_final_price">¥ 248</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">Assassin's Creed® Odyssey</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">动作</span><span class="top_tag">, 开放世界</span><span class="top_tag">, 角色扮演</span><span class="top_tag">, 冒险</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/637650/FINAL_FANTASY_XV_WINDOWS_EDITION/?snr=1_4_4__104" class="tab_item" data-ds-appid="637650" data-ds-tagids="[122,1695,1684,4434,1756,1742,3859]" data-ds-crtrids="[1012195]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_5">
                        </div>
                        <div class="discount_block tab_item_discount"> <div class="discount_pct">-50%</div><div class="discount_prices"><div class="discount_original_price">¥ 329</div><div class="discount_final_price">¥ 164</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">FINAL FANTASY XV WINDOWS EDITION</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">角色扮演</span><span class="top_tag">, 开放世界</span><span class="top_tag">, 奇幻</span><span class="top_tag">, 日系角色扮演</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/841370/NBA_2K19/?snr=1_4_4__104" class="tab_item" data-ds-appid="841370" data-ds-tagids="[701,1746,599,3859,10397]" data-ds-crtrids="[2428135,33338134]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_6">
                        </div>
                        <div class="discount_block tab_item_discount no_discount"> <div class="discount_prices"><div class="discount_final_price">¥ 199</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">NBA 2K19</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">体育</span><span class="top_tag">, 篮球</span><span class="top_tag">, 模拟</span><span class="top_tag">, 多人</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/367500/Dragons_Dogma_Dark_Arisen/?snr=1_4_4__104" class="tab_item" data-ds-appid="367500" data-ds-tagids="[122,1695,4747,19,21,1684,4182]" data-ds-crtrids="[33273264]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_7">
                        </div>
                        <div class="discount_block tab_item_discount"> <div class="discount_pct">-70%</div><div class="discount_prices"><div class="discount_original_price">¥ 192</div><div class="discount_final_price">¥ 57</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">Dragon's Dogma: Dark Arisen</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">角色扮演</span><span class="top_tag">, 开放世界</span><span class="top_tag">, 自创角色</span><span class="top_tag">, 动作</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/271590/Grand_Theft_Auto_V/?snr=1_4_4__104" class="tab_item" data-ds-appid="271590" data-ds-tagids="[1695,19,3859,1697,3839,6378,21]" data-ds-descids="[5]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_8">
                        </div>
                        <div class="discount_block tab_item_discount no_discount"> <div class="discount_prices"><div class="discount_final_price">¥ 189</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">Grand Theft Auto V</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">开放世界</span><span class="top_tag">, 动作</span><span class="top_tag">, 多人</span><span class="top_tag">, 第三人称视角</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/464060/RUINER/?snr=1_4_4__104" class="tab_item" data-ds-appid="464060" data-ds-tagids="[4115,19,1756,492,4637,4667,4758]" data-ds-crtrids="[6638525]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_9">
                        </div>
                        <div class="discount_block tab_item_discount"> <div class="discount_pct">-60%</div><div class="discount_prices"><div class="discount_original_price">¥ 68</div><div class="discount_final_price">¥ 27</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">RUINER</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span><span class="platform_img linux"></span>				<div class="tab_item_top_tags"><span class="top_tag">赛博朋克</span><span class="top_tag">, 动作</span><span class="top_tag">, 好评原声音乐</span><span class="top_tag">, 独立</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>





                    <a href="https://store.steampowered.com/bundle/7118/XCOM_2_Collection/?snr=1_4_4__104" class="tab_item hidden " data-ds-bundleid="7118" data-ds-bundle-data="{&quot;m_nDiscountPct&quot;:&quot;15&quot;,&quot;m_bMustPurchaseAsSet&quot;:1,&quot;m_rgItems&quot;:[{&quot;m_nPackageID&quot;:77360,&quot;m_rgIncludedAppIDs&quot;:[399620],&quot;m_bPackageDiscounted&quot;:false,&quot;m_nBasePriceInCents&quot;:1700,&quot;m_nFinalPriceInCents&quot;:1700,&quot;m_nFinalPriceWithBundleDiscount&quot;:1400},{&quot;m_nPackageID&quot;:87701,&quot;m_rgIncludedAppIDs&quot;:[426321],&quot;m_bPackageDiscounted&quot;:true,&quot;m_nBasePriceInCents&quot;:6800,&quot;m_nFinalPriceInCents&quot;:3400,&quot;m_nFinalPriceWithBundleDiscount&quot;:2900},{&quot;m_nPackageID&quot;:88099,&quot;m_rgIncludedAppIDs&quot;:[268500],&quot;m_bPackageDiscounted&quot;:true,&quot;m_nBasePriceInCents&quot;:19000,&quot;m_nFinalPriceInCents&quot;:6200,&quot;m_nFinalPriceWithBundleDiscount&quot;:5300},{&quot;m_nPackageID&quot;:154615,&quot;m_rgIncludedAppIDs&quot;:[593380],&quot;m_bPackageDiscounted&quot;:true,&quot;m_nBasePriceInCents&quot;:13500,&quot;m_nFinalPriceInCents&quot;:8100,&quot;m_nFinalPriceWithBundleDiscount&quot;:6900}],&quot;m_bIsCommercial&quot;:false,&quot;m_bRestrictGifting&quot;:false}" data-ds-tagids="[9,1677,1741,1673,1708,3942,14139]" data-ds-crtrids="[2428135,32844624,33339602]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_15">
                        </div>
                        <div class="discount_block tab_item_discount"> <div class="bundle_base_discount">-15%</div><div class="discount_pct">-60%</div><div class="discount_prices"><div class="discount_original_price">¥ 410</div><div class="discount_final_price">¥ 165</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">XCOM® 2 Collection</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span><span class="platform_img mac"></span><span class="platform_img linux"></span>				<div class="tab_item_top_tags"><span class="top_tag">策略</span><span class="top_tag">, 回合制</span><span class="top_tag">, 回合制策略</span><span class="top_tag">, 外星人</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>







                    <a href="https://store.steampowered.com/bundle/7741/Monster_Hunter_World_Deluxe_Edition/?snr=1_4_4__104" class="tab_item hidden " data-ds-bundleid="7741" data-ds-bundle-data="{&quot;m_nDiscountPct&quot;:&quot;6&quot;,&quot;m_bMustPurchaseAsSet&quot;:0,&quot;m_rgItems&quot;:[{&quot;m_nPackageID&quot;:281619,&quot;m_rgIncludedAppIDs&quot;:[582010],&quot;m_bPackageDiscounted&quot;:true,&quot;m_nBasePriceInCents&quot;:30800,&quot;m_nFinalPriceInCents&quot;:24600,&quot;m_nFinalPriceWithBundleDiscount&quot;:23100},{&quot;m_nPackageID&quot;:284476,&quot;m_rgIncludedAppIDs&quot;:[891730],&quot;m_bPackageDiscounted&quot;:false,&quot;m_nBasePriceInCents&quot;:8400,&quot;m_nFinalPriceInCents&quot;:8400,&quot;m_nFinalPriceWithBundleDiscount&quot;:7900}],&quot;m_bIsCommercial&quot;:false,&quot;m_bRestrictGifting&quot;:true}" data-ds-tagids="[19,9564,1685,3859,1695,1697]" data-ds-crtrids="[33273264]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_23">
                        </div>
                        <div class="discount_block tab_item_discount"> <div class="bundle_base_discount">-6%</div><div class="discount_pct">-21%</div><div class="discount_prices"><div class="discount_original_price">¥ 392</div><div class="discount_final_price">¥ 310</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">Monster Hunter: World Deluxe Edition</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">动作</span><span class="top_tag">, 狩猎</span><span class="top_tag">, 合作</span><span class="top_tag">, 多人</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/bundle/8536/Devil_May_Cry_5__Deluxe_Edition/?snr=1_4_4__104" class="tab_item hidden " data-ds-bundleid="8536" data-ds-bundle-data="{&quot;m_nDiscountPct&quot;:&quot;17&quot;,&quot;m_bMustPurchaseAsSet&quot;:1,&quot;m_rgItems&quot;:[{&quot;m_nPackageID&quot;:304933,&quot;m_rgIncludedAppIDs&quot;:[601150],&quot;m_bPackageDiscounted&quot;:false,&quot;m_nBasePriceInCents&quot;:32500,&quot;m_nFinalPriceInCents&quot;:32500,&quot;m_nFinalPriceWithBundleDiscount&quot;:27000},{&quot;m_nPackageID&quot;:305944,&quot;m_rgIncludedAppIDs&quot;:[941950],&quot;m_bPackageDiscounted&quot;:false,&quot;m_nBasePriceInCents&quot;:600,&quot;m_nFinalPriceInCents&quot;:600,&quot;m_nFinalPriceWithBundleDiscount&quot;:500},{&quot;m_nPackageID&quot;:305947,&quot;m_rgIncludedAppIDs&quot;:[941951],&quot;m_bPackageDiscounted&quot;:false,&quot;m_nBasePriceInCents&quot;:600,&quot;m_nFinalPriceInCents&quot;:600,&quot;m_nFinalPriceWithBundleDiscount&quot;:500},{&quot;m_nPackageID&quot;:305950,&quot;m_rgIncludedAppIDs&quot;:[941952],&quot;m_bPackageDiscounted&quot;:false,&quot;m_nBasePriceInCents&quot;:2200,&quot;m_nFinalPriceInCents&quot;:2200,&quot;m_nFinalPriceWithBundleDiscount&quot;:1800},{&quot;m_nPackageID&quot;:305953,&quot;m_rgIncludedAppIDs&quot;:[941953],&quot;m_bPackageDiscounted&quot;:false,&quot;m_nBasePriceInCents&quot;:1100,&quot;m_nFinalPriceInCents&quot;:1100,&quot;m_nFinalPriceWithBundleDiscount&quot;:900},{&quot;m_nPackageID&quot;:305956,&quot;m_rgIncludedAppIDs&quot;:[941954],&quot;m_bPackageDiscounted&quot;:false,&quot;m_nBasePriceInCents&quot;:1100,&quot;m_nFinalPriceInCents&quot;:1100,&quot;m_nFinalPriceWithBundleDiscount&quot;:900},{&quot;m_nPackageID&quot;:305959,&quot;m_rgIncludedAppIDs&quot;:[941955],&quot;m_bPackageDiscounted&quot;:false,&quot;m_nBasePriceInCents&quot;:1100,&quot;m_nFinalPriceInCents&quot;:1100,&quot;m_nFinalPriceWithBundleDiscount&quot;:900},{&quot;m_nPackageID&quot;:305962,&quot;m_rgIncludedAppIDs&quot;:[941956],&quot;m_bPackageDiscounted&quot;:false,&quot;m_nBasePriceInCents&quot;:1100,&quot;m_nFinalPriceInCents&quot;:1100,&quot;m_nFinalPriceWithBundleDiscount&quot;:900},{&quot;m_nPackageID&quot;:305965,&quot;m_rgIncludedAppIDs&quot;:[941957],&quot;m_bPackageDiscounted&quot;:false,&quot;m_nBasePriceInCents&quot;:600,&quot;m_nFinalPriceInCents&quot;:600,&quot;m_nFinalPriceWithBundleDiscount&quot;:500},{&quot;m_nPackageID&quot;:305968,&quot;m_rgIncludedAppIDs&quot;:[941958],&quot;m_bPackageDiscounted&quot;:false,&quot;m_nBasePriceInCents&quot;:600,&quot;m_nFinalPriceInCents&quot;:600,&quot;m_nFinalPriceWithBundleDiscount&quot;:500},{&quot;m_nPackageID&quot;:305971,&quot;m_rgIncludedAppIDs&quot;:[941959],&quot;m_bPackageDiscounted&quot;:false,&quot;m_nBasePriceInCents&quot;:1600,&quot;m_nFinalPriceInCents&quot;:1600,&quot;m_nFinalPriceWithBundleDiscount&quot;:1300},{&quot;m_nPackageID&quot;:305974,&quot;m_rgIncludedAppIDs&quot;:[941960],&quot;m_bPackageDiscounted&quot;:false,&quot;m_nBasePriceInCents&quot;:1600,&quot;m_nFinalPriceInCents&quot;:1600,&quot;m_nFinalPriceWithBundleDiscount&quot;:1300},{&quot;m_nPackageID&quot;:305977,&quot;m_rgIncludedAppIDs&quot;:[941961],&quot;m_bPackageDiscounted&quot;:false,&quot;m_nBasePriceInCents&quot;:1600,&quot;m_nFinalPriceInCents&quot;:1600,&quot;m_nFinalPriceWithBundleDiscount&quot;:1300}],&quot;m_bIsCommercial&quot;:false,&quot;m_bRestrictGifting&quot;:false}" data-ds-tagids="[19,4667,6650,1646,1756,3955,9541]" data-ds-descids="[1,2,5]" data-ds-crtrids="[33273264]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_24">
                        </div>
                        <div class="discount_block tab_item_discount no_discount"> <div class="bundle_base_discount">-17%</div><div class="discount_prices"><div class="discount_final_price">¥ 383</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">Devil May Cry 5 - Deluxe Edition</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">动作</span><span class="top_tag">, 暴力</span><span class="top_tag">, 裸露</span><span class="top_tag">, 砍杀</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>






                    <div class="tab_see_more">
                        查看更多：							<a href="https://store.steampowered.com/search/?filter=topsellers&amp;os=win&amp;snr=1_4_4__tabsmore" class="btnv6_white_transparent btn_small_tall">
                            <span>热销商品</span>
                        </a>
                        或								<a href="https://store.steampowered.com/search/?filter=globaltopsellers&amp;os=win&amp;snr=1_4_4__tabsmore" class="btnv6_white_transparent btn_small_tall">
                            <span>全球热销商品</span>
                        </a>
                    </div>
                </div>
                <div class="tab_content" id="tab_upcoming_content" style="display: none;">
                    <a href="https://store.steampowered.com/app/853240/The_Light_Keeps_Us_Safe/?snr=1_4_4__tab-Upcoming" class="tab_item" data-ds-appid="853240" data-ds-tagids="[493,19,492,493,1687,1667,5125]" data-ds-descids="[2,5]" data-ds-crtrids="[33256260]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_30">
                        </div>
                        <div class="discount_block empty tab_item_discount"></div>		<div class="tab_item_content">
                            <div class="tab_item_name">The Light Keeps Us Safe</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">Early Access</span><span class="top_tag">, 动作</span><span class="top_tag">, 独立</span><span class="top_tag">, Early Access</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/943380/Timberman_VS/?snr=1_4_4__tab-Upcoming" class="tab_item" data-ds-appid="943380" data-ds-tagids="[19,492,597]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_31">
                        </div>
                        <div class="discount_block empty tab_item_discount"></div>		<div class="tab_item_content">
                            <div class="tab_item_name">Timberman VS</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span><span class="platform_img mac"></span>				<div class="tab_item_top_tags"><span class="top_tag">动作</span><span class="top_tag">, 独立</span><span class="top_tag">, 休闲</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/768180/Truck_Driver/?snr=1_4_4__tab-Upcoming" class="tab_item" data-ds-appid="768180" data-ds-tagids="[599,21,1695,1644,4182,597,492]" data-ds-crtrids="[6917111]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_32">
                        </div>
                        <div class="discount_block empty tab_item_discount"></div>		<div class="tab_item_content">
                            <div class="tab_item_name">Truck Driver</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">模拟</span><span class="top_tag">, 冒险</span><span class="top_tag">, 开放世界</span><span class="top_tag">, 驾驶</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/835860/Dreadnought/?snr=1_4_4__tab-Upcoming" class="tab_item" data-ds-appid="835860" data-ds-tagids="[113,19,128,3942,1755]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_33">
                        </div>
                        <div class="discount_block tab_item_discount no_discount"> <div class="discount_prices"><div class="discount_final_price">免费开玩</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">Dreadnought</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">免费</span><span class="top_tag">, 动作</span><span class="top_tag">, 大型多人在线</span><span class="top_tag">, 科幻</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/935070/Sakura_MMO/?snr=1_4_4__tab-Upcoming" class="tab_item" data-ds-appid="935070" data-ds-tagids="[6650,599,4085,3799]" data-ds-descids="[1,5]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_34">
                        </div>
                        <div class="discount_block empty tab_item_discount"></div>		<div class="tab_item_content">
                            <div class="tab_item_name">Sakura MMO</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span><span class="platform_img mac"></span><span class="platform_img linux"></span>				<div class="tab_item_top_tags"><span class="top_tag">裸露</span><span class="top_tag">, 模拟</span><span class="top_tag">, 日本动画</span><span class="top_tag">, 视觉小说</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/761620/Beholder_2/?snr=1_4_4__tab-Upcoming" class="tab_item" data-ds-appid="761620" data-ds-tagids="[21,9,4667,492,5030,4182]" data-ds-descids="[2,5]" data-ds-crtrids="[32941116]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_35">
                        </div>
                        <div class="discount_block empty tab_item_discount"></div>		<div class="tab_item_content">
                            <div class="tab_item_name">Beholder 2</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">冒险</span><span class="top_tag">, 策略</span><span class="top_tag">, 暴力</span><span class="top_tag">, 独立</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/573410/AI_War_2/?snr=1_4_4__tab-Upcoming" class="tab_item" data-ds-appid="573410" data-ds-tagids="[493,492,9,599,1676,3942,7107]" data-ds-crtrids="[32938991]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_36">
                        </div>
                        <div class="discount_block empty tab_item_discount"></div>		<div class="tab_item_content">
                            <div class="tab_item_name">AI War 2</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span><span class="platform_img mac"></span><span class="platform_img linux"></span>				<div class="tab_item_top_tags"><span class="top_tag">Early Access</span><span class="top_tag">, 独立</span><span class="top_tag">, 策略</span><span class="top_tag">, 模拟</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/792660/The_Operational_Art_of_War_IV/?snr=1_4_4__tab-Upcoming" class="tab_item" data-ds-appid="792660" data-ds-tagids="[9,599]" data-ds-crtrids="[4563585]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_37">
                        </div>
                        <div class="discount_block empty tab_item_discount"></div>		<div class="tab_item_content">
                            <div class="tab_item_name">The Operational Art of War IV</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">策略</span><span class="top_tag">, 模拟</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/907270/eSports_Legend/?snr=1_4_4__tab-Upcoming" class="tab_item" data-ds-appid="907270" data-ds-tagids="[599,597,9,492]" data-ds-crtrids="[33018259]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_38">
                        </div>
                        <div class="discount_block empty tab_item_discount"></div>		<div class="tab_item_content">
                            <div class="tab_item_name">eSports Legend / 电竞传奇</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">模拟</span><span class="top_tag">, 休闲</span><span class="top_tag">, 策略</span><span class="top_tag">, 独立</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/831560/WARRIORS_OROCHI_4__OROCHI/?snr=1_4_4__tab-Upcoming" class="tab_item" data-ds-appid="831560" data-ds-tagids="[19,1646]" data-ds-crtrids="[33016879]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_39">
                        </div>
                        <div class="discount_block empty tab_item_discount"></div>		<div class="tab_item_content">
                            <div class="tab_item_name">WARRIORS OROCHI 4 - 無双OROCHI３</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">动作</span><span class="top_tag">, 砍杀</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>





















                    <div class="tab_see_more">
                        查看更多：							<a href="https://store.steampowered.com/explore/upcoming/?snr=1_4_4__tabsmore" class="btnv6_white_transparent btn_small_tall">
                            <span>即将发行</span>
                        </a>
                    </div>
                </div>
                <div class="tab_content" id="tab_specials_content" style="display: none;">
                    <a href="https://store.steampowered.com/app/367500/Dragons_Dogma_Dark_Arisen/?snr=1_4_4__tab-Specials" class="tab_item" data-ds-appid="367500" data-ds-tagids="[122,1695,4747,19,21,1684,4182]" data-ds-crtrids="[33273264]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_60">
                        </div>
                        <div class="discount_block tab_item_discount"> <div class="discount_pct">-70%</div><div class="discount_prices"><div class="discount_original_price">¥ 192</div><div class="discount_final_price">¥ 57</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">Dragon's Dogma: Dark Arisen</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">角色扮演</span><span class="top_tag">, 开放世界</span><span class="top_tag">, 自创角色</span><span class="top_tag">, 动作</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/637650/FINAL_FANTASY_XV_WINDOWS_EDITION/?snr=1_4_4__tab-Specials" class="tab_item" data-ds-appid="637650" data-ds-tagids="[122,1695,1684,4434,1756,1742,3859]" data-ds-crtrids="[1012195]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_61">
                        </div>
                        <div class="discount_block tab_item_discount"> <div class="discount_pct">-50%</div><div class="discount_prices"><div class="discount_original_price">¥ 329</div><div class="discount_final_price">¥ 164</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">FINAL FANTASY XV WINDOWS EDITION</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">角色扮演</span><span class="top_tag">, 开放世界</span><span class="top_tag">, 奇幻</span><span class="top_tag">, 日系角色扮演</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/593380/XCOM_2_War_of_the_Chosen__Tactical_Legacy_Pack/?snr=1_4_4__tab-Specials" class="tab_item" data-ds-appid="593380" data-ds-tagids="[9,1677,14139,1708,1673,3942,1741]" data-ds-crtrids="[2428135,32844624,33339602]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_62">
                        </div>
                        <div class="discount_block tab_item_discount"> <div class="discount_pct">-40%</div><div class="discount_prices"><div class="discount_original_price">¥ 135</div><div class="discount_final_price">¥ 81</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">XCOM 2: War of the Chosen &amp; Tactical Legacy Pack</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span><span class="platform_img mac"></span><span class="platform_img linux"></span>				<div class="tab_item_top_tags"><span class="top_tag">策略</span><span class="top_tag">, 回合制</span><span class="top_tag">, 回合制战术</span><span class="top_tag">, 战术</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/464060/RUINER/?snr=1_4_4__tab-Specials" class="tab_item" data-ds-appid="464060" data-ds-tagids="[4115,19,1756,492,4637,4667,4758]" data-ds-crtrids="[6638525]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_63">
                        </div>
                        <div class="discount_block tab_item_discount"> <div class="discount_pct">-60%</div><div class="discount_prices"><div class="discount_original_price">¥ 68</div><div class="discount_final_price">¥ 27</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">RUINER</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span><span class="platform_img linux"></span>				<div class="tab_item_top_tags"><span class="top_tag">赛博朋克</span><span class="top_tag">, 动作</span><span class="top_tag">, 好评原声音乐</span><span class="top_tag">, 独立</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/501300/What_Remains_of_Edith_Finch/?snr=1_4_4__tab-Specials" class="tab_item" data-ds-appid="501300" data-ds-tagids="[1742,4166,5900,21,3839,3834,1756]" data-ds-crtrids="[33023506]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_64">
                        </div>
                        <div class="discount_block tab_item_discount"> <div class="discount_pct">-41%</div><div class="discount_prices"><div class="discount_original_price">¥ 68</div><div class="discount_final_price">¥ 40</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">What Remains of Edith Finch</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">剧情丰富</span><span class="top_tag">, 氛围</span><span class="top_tag">, 步行模拟</span><span class="top_tag">, 冒险</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/268500/XCOM_2/?snr=1_4_4__tab-Specials" class="tab_item" data-ds-appid="268500" data-ds-tagids="[9,1677,1708,1741,1673,3942,14139]" data-ds-crtrids="[2428135,32844624,33339602]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_65">
                        </div>
                        <div class="discount_block tab_item_discount"> <div class="discount_pct">-67%</div><div class="discount_prices"><div class="discount_original_price">¥ 190</div><div class="discount_final_price">¥ 62</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">XCOM® 2</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span><span class="platform_img mac"></span><span class="platform_img linux"></span>				<div class="tab_item_top_tags"><span class="top_tag">策略</span><span class="top_tag">, 回合制</span><span class="top_tag">, 战术</span><span class="top_tag">, 回合制策略</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>

                    <a href="https://store.steampowered.com/app/613100/House_Flipper/?snr=1_4_4__tab-Specials" class="tab_item" data-ds-appid="613100" data-ds-tagids="[599,1643,4175,84,4182,3839,492]" data-ds-crtrids="[33033748]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_67">
                        </div>
                        <div class="discount_block tab_item_discount"> <div class="discount_pct">-16%</div><div class="discount_prices"><div class="discount_original_price">¥ 70</div><div class="discount_final_price">¥ 59</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">House Flipper</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span><span class="platform_img mac"></span>				<div class="tab_item_top_tags"><span class="top_tag">模拟</span><span class="top_tag">, 建造</span><span class="top_tag">, 拟真</span><span class="top_tag">, 设计与插画</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/232090/Killing_Floor_2/?snr=1_4_4__tab-Specials" class="tab_item" data-ds-appid="232090" data-ds-tagids="[1659,1685,4345,1663,1662,19,1667]" data-ds-crtrids="[32797243]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_68">
                        </div>
                        <div class="discount_block tab_item_discount"> <div class="discount_pct">-67%</div><div class="discount_prices"><div class="discount_original_price">¥ 88</div><div class="discount_final_price">¥ 29</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">Killing Floor 2</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">丧尸</span><span class="top_tag">, 合作</span><span class="top_tag">, 血腥</span><span class="top_tag">, 第一人称射击</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/370360/TIS100/?snr=1_4_4__tab-Specials" class="tab_item" data-ds-appid="370360" data-ds-tagids="[5432,1664,492,599,4026,5502,4182]" data-ds-crtrids="[32946839]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_69">
                        </div>
                        <div class="discount_block tab_item_discount"> <div class="discount_pct">-75%</div><div class="discount_prices"><div class="discount_original_price">¥ 28</div><div class="discount_final_price">¥ 7</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">TIS-100</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span><span class="platform_img mac"></span><span class="platform_img linux"></span>				<div class="tab_item_top_tags"><span class="top_tag">编程</span><span class="top_tag">, 解谜</span><span class="top_tag">, 独立</span><span class="top_tag">, 模拟</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <a href="https://store.steampowered.com/app/475150/Titan_Quest_Anniversary_Edition/?snr=1_4_4__tab-Specials" class="tab_item" data-ds-appid="475150" data-ds-tagids="[122,1646,4231,3859,16094,19,4236]" data-ds-crtrids="[7564110]">
                        <div class="tab_item_cap">
                            <img class="tab_item_cap_img" src="https://steamstore-a.akamaihd.net/public/shared/images/trans.gif" id="delayedimage_home_tabs_70">
                        </div>
                        <div class="discount_block tab_item_discount"> <div class="discount_pct">-81%</div><div class="discount_prices"><div class="discount_original_price">¥ 79</div><div class="discount_final_price">¥ 15</div></div></div>		<div class="tab_item_content">
                            <div class="tab_item_name">Titan Quest Anniversary Edition</div>
                            <div class="tab_item_details">
                                <span class="platform_img win"></span>				<div class="tab_item_top_tags"><span class="top_tag">角色扮演</span><span class="top_tag">, 砍杀</span><span class="top_tag">, 动作角色扮演</span><span class="top_tag">, 多人</span></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </a>




















                    <div class="tab_see_more">
                        查看更多：							<a href="https://store.steampowered.com/search/?specials=1&amp;os=win&amp;snr=1_4_4__tabsmore" class="btnv6_white_transparent btn_small_tall">
                            <span>优惠</span>
                        </a>
                    </div>
                </div>
            </div>
         </div>
     </div>
    <div class="scriptdocument">
        <script src="js/store.js"></script>
    </div>
</div>