<div id="global_actions" style="right: -30px;">
    <div id="global_action_menu">
        <a class="global_action_link">你好，@ViewBag.Username</a>
        &nbsp;|&nbsp;
        <a class="global_action_link" asp-controller="Authentication/Logout">注销</a>
    </div>

</div>