<div id="global_actions">
    <div id="global_action_menu">
        <a class="global_action_link" asp-controller="Authentication/Login">登录</a>
        &nbsp;|&nbsp;
        <a class="global_action_link" asp-controller="Authentication/Registration">注册</a>
    </div>

</div>