@section Title{
    WeB商店-The Surge
}
@section Header{
    <link href="https://steamstore-a.akamaihd.net/public/css/v6/game.css?v=uz9vlFc2Irtr" rel="stylesheet" type="text/css">
    <link href="https://steamstore-a.akamaihd.net/public/shared/css/apphub.css?v=dunRbO3rtVVd" rel="stylesheet" type="text/css">
}
@BodyContent
<div class="page_title_area game_title_area page_content">
    <div class="breadcrumbs">
        <div class="blockbg">
            <a href="https://store.steampowered.com/search/?term=&amp;snr=1_5_9__205">所有游戏</a>
            &gt; <a href="https://store.steampowered.com/genre/RPG/?snr=1_5_9__205">角色扮演‎游戏</a>
            &gt; <a href="https://store.steampowered.com/app/378540/?snr=1_5_9__205"><span itemprop="name">The Surge</span></a>
        </div>
        <div style="clear: left;"></div>
    </div>
    <div class="apphub_HomeHeaderContent">
        <div class="apphub_HeaderStandardTop">
            <div class="apphub_OtherSiteInfo">
                <a class="btnv6_blue_hoverfade btn_medium" href="https://steamcommunity.com/app/378540">
                    <span>社区中心</span>
                </a>
            </div>
            <div class="apphub_AppIcon"><img src="https://cdn.steamstatic.com.8686c.com/steamcommunity/public/images/apps/378540/244bf4443ab17c0b7cda6fd63bc9bc0291942635.jpg"><div class="overlay"></div></div>
            <div class="apphub_AppName">The Surge</div>
            <div style="clear: both"></div>
        </div>
    </div>
</div>
<div class="block">
    <script type="text/javascript">
        var strRequiredVersion = "9";
        if (typeof (g_bIsOnMac) != 'undefined' && g_bIsOnMac)
            strRequiredVersion = "10.1.0";
    </script>
    <div class="game_background_glow">
        <div class="block_content page_content" id="game_highlights">
            <!--右边-->
            <div class="rightcol">
                <div class="glance_ctn">
                    <div class="game_header_image_ctn">
                        <!--右边单一图片-->
                        <img class="game_header_image_full" src="https://cdn.steamstatic.com.8686c.com/steam/apps/378540/header.jpg?t=1539081140">
                    </div>
                    <div class="game_description_snippet">
                        欢迎来到CREO。巨大组织拯救了世界！工作的第一天，一场突发性事故让你晕了过去。醒来时，你发现身处一个被毁的区域里，身上还装备着一具重型外骨骼机甲。失控的机器人，近乎疯癫的同事和无良AI——一切都想至你与死地。
                    </div>
                    <div class="glance_ctn_responsive_left">
                        <div class="user_reviews">
                            <div class="user_reviews_summary_row" onclick="window.location='#app_reviews_hash'" style="cursor: pointer;" data-tooltip-text="过去 30 天内的 137 篇用户评测中有 66% 为好评。">
                                <div class="subtitle column">最近评测：</div>
                                <div class="summary column">
                                    <span class="game_review_summary mixed">褒贬不一</span>
                                    <span class="responsive_hidden">
                                        (137)
                                    </span>
                                    <span class="nonresponsive_hidden responsive_reviewdesc">
                                        - 过去 30 天内的 137 篇用户评测中有 66% 为好评。
                                    </span>
                                </div>
                            </div>
                            <div class="user_reviews_summary_row" onclick="window.location='#app_reviews_hash'" style="cursor: pointer;" data-tooltip-text="2,719 篇用户的游戏评测中有 73% 为好评。" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                                <div class="subtitle column all">全部评测:</div>
                                <div class="summary column">
                                    <span class="game_review_summary positive" itemprop="description">多半好评</span>
                                    <span class="responsive_hidden">
                                        (2,719)
                                    </span>
                                    <span class="nonresponsive_hidden responsive_reviewdesc">
                                        - 2,719 篇用户的游戏评测中有 73% 为好评。
                                    </span>
                                    <!-- microdata -->
                                    <meta itemprop="reviewCount" content="2719">
                                    <meta itemprop="ratingValue" content="7">
                                    <meta itemprop="bestRating" content="10">
                                    <meta itemprop="worstRating" content="1">
                                </div>
                            </div>
                            <div class="release_date">
                                <div class="subtitle column">发行日期:</div>
                                <div class="date">2017年5月16日</div>
                            </div>

                            <div class="dev_row">
                                <div class="subtitle column">开发商:</div>
                                <div class="summary column" id="developers_list">
                                    <a href="https://store.steampowered.com/developer/DECK13?snr=1_5_9__creator-home-product-page">Deck13</a>
                                </div>
                            </div>

                            <div class="dev_row">
                                <div class="subtitle column">发行商:</div>
                                <div class="summary column">
                                    <a href="https://store.steampowered.com/publisher/Focus?snr=1_5_9__creator-home-product-page">Focus Home Interactive</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="glance_ctn_responsive_right">
                        <!-- when the javascript runs, it will set these visible or not depending on what fits in the area -->
                        <div class="glance_tags_ctn popular_tags_ctn">
                            <div class="glance_tags_label">该产品的热门用户自定义标签：</div>
                            <div class="glance_tags popular_tags" data-appid="378540">
                                <a href="https://store.steampowered.com/tags/zh-cn/Souls-like/?snr=1_5_9__409" class="app_tag" style="">
                                    Souls-like
                                </a><a href="https://store.steampowered.com/tags/zh-cn/%E5%8A%A8%E4%BD%9C/?snr=1_5_9__409" class="app_tag" style="">
                                    动作
                                </a><a href="https://store.steampowered.com/tags/zh-cn/%E8%A7%92%E8%89%B2%E6%89%AE%E6%BC%94/?snr=1_5_9__409" class="app_tag" style="">
                                    角色扮演
                                </a><a href="https://store.steampowered.com/tags/zh-cn/%E7%A7%91%E5%B9%BB/?snr=1_5_9__409" class="app_tag" style="">
                                    科幻
                                </a><a href="https://store.steampowered.com/tags/zh-cn/%E5%9B%B0%E9%9A%BE/?snr=1_5_9__409" class="app_tag" style="">
                                    困难
                                </a><a href="https://store.steampowered.com/tags/zh-cn/%E7%AC%AC%E4%B8%89%E4%BA%BA%E7%A7%B0%E8%A7%86%E8%A7%92/?snr=1_5_9__409" class="app_tag" style="display: none;">
                                    第三人称视角
                                </a><a href="https://store.steampowered.com/tags/zh-cn/%E5%8D%95%E4%BA%BA/?snr=1_5_9__409" class="app_tag" style="display: none;">
                                    单人
                                </a><a href="https://store.steampowered.com/tags/zh-cn/%E6%9A%B4%E5%8A%9B/?snr=1_5_9__409" class="app_tag" style="display: none;">
                                    暴力
                                </a><a href="https://store.steampowered.com/tags/zh-cn/%E6%9C%BA%E7%94%B2%E4%B8%96%E7%95%8C/?snr=1_5_9__409" class="app_tag" style="display: none;">
                                    机甲世界
                                </a><a href="https://store.steampowered.com/tags/zh-cn/%E7%A0%8D%E6%9D%80/?snr=1_5_9__409" class="app_tag" style="display: none;">
                                    砍杀
                                </a><a href="https://store.steampowered.com/tags/zh-cn/%E6%9C%BA%E5%99%A8%E4%BA%BA/?snr=1_5_9__409" class="app_tag" style="display: none;">
                                    机器人
                                </a><a href="https://store.steampowered.com/tags/zh-cn/%E5%BC%80%E6%94%BE%E4%B8%96%E7%95%8C/?snr=1_5_9__409" class="app_tag" style="display: none;">
                                    开放世界
                                </a><a href="https://store.steampowered.com/tags/zh-cn/%E6%8E%A2%E7%B4%A2/?snr=1_5_9__409" class="app_tag" style="display: none;">
                                    探索
                                </a><a href="https://store.steampowered.com/tags/zh-cn/%E8%B5%9B%E5%8D%9A%E6%9C%8B%E5%85%8B/?snr=1_5_9__409" class="app_tag" style="display: none;">
                                    赛博朋克
                                </a><a href="https://store.steampowered.com/tags/zh-cn/%E5%86%92%E9%99%A9/?snr=1_5_9__409" class="app_tag" style="display: none;">
                                    冒险
                                </a><a href="https://store.steampowered.com/tags/zh-cn/%E8%A1%80%E8%85%A5/?snr=1_5_9__409" class="app_tag" style="display: none;">
                                    血腥
                                </a><a href="https://store.steampowered.com/tags/zh-cn/%E6%81%90%E6%80%96/?snr=1_5_9__409" class="app_tag" style="display: none;">
                                    恐怖
                                </a><a href="https://store.steampowered.com/tags/zh-cn/%E5%8A%A8%E4%BD%9C%E8%A7%92%E8%89%B2%E6%89%AE%E6%BC%94/?snr=1_5_9__409" class="app_tag" style="display: none;">
                                    动作角色扮演
                                </a><a href="https://store.steampowered.com/tags/zh-cn/%E6%9C%AA%E6%9D%A5/?snr=1_5_9__409" class="app_tag" style="display: none;">
                                    未来
                                </a><a href="https://store.steampowered.com/tags/zh-cn/%E5%A5%BD%E8%AF%84%E5%8E%9F%E5%A3%B0%E9%9F%B3%E4%B9%90/?snr=1_5_9__409" class="app_tag" style="display: none;">
                                    好评原声音乐
                                </a><div class="app_tag add_button" onclick="ShowAppTagModal( 378540 )">+</div>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
            <!--右边-->
            <div class="leftcol">
                <div class="highlight_ctn">
                    <div class="highlight_overflow">
                        <div class="highlight_player_area_spacer">
                            <!--左边单一大图-->
                            <img src="https://cdn.steamstatic.com.8686c.com/steam/apps/378540/header.jpg?t=1539081140">
                        </div>
                        
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div class="queue_overflow_ctn">
        <div class="queue_ctn">
            <div class="queue_actions_ctn">
                <p>想要将这件物品添加至您的愿望单、关注它或标记为不感兴趣，请先<a href="https://store.steampowered.com/login/?redir=app%2F378540">登录</a></p>
            </div>
        </div>
    </div>
</div>
<div class="page_content">
    <!-- Right Column -->
    <div class="rightcol game_meta_data">
        <div id="responsive_apppage_details_left_ctn"></div>
        <div id="responsive_apppage_details_right_ctn"></div>
        <div style="clear: both;"></div>
        <div><div class="block responsive_apppage_details_right heading">您对这款游戏感兴趣吗？</div></div>
        <div>
            <div class="block responsive_apppage_details_right recommendation_noinfo">
                <p>
                    基于您的游戏、好友以及您关注的鉴赏家，登录以查看您是否有可能喜欢这个内容的原因。
                </p>
                <br>
                <a class="btnv6_blue_hoverfade btn_medium" href="https://store.steampowered.com/login/?redir=app/378540"><span>登录</span></a>
                或									<a class="btnv6_blue_hoverfade btn_medium" href="steam://store/378540"><span>在客户端中开启</span></a>
            </div>
        </div>
        <div>
            <div class="block responsive_apppage_details_left">
                <div>
                    <a class="btnv6_blue_hoverfade btn_medium" href="javascript:ShowGotSteamModal( 'steam://install/646690', &quot;The Surge Demo&quot;, &quot;\u4e0b\u8f7d\u8bd5\u73a9\u6e38\u620f&quot; )">
                        <span>下载试玩游戏</span>
                    </a>
                </div>
            </div>
        </div>
        
        <div>
            <div class="block responsive_apppage_details_right">
                <div class="block_title">
                    语言:
                </div>
                <table class="game_language_options" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th style="width: 94px;"></th>
                            <th class="checkcol">界面</th>
                            <th class="checkcol">完全音频</th>
                            <th class="checkcol">字幕</th>
                        </tr>
                        <tr style="" class="">
                            <td style="width: 94px; text-align: left" class="ellipsis">
                                简体中文
                            </td>
                            <td class="checkcol">
                                <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                            </td>
                            <td class="checkcol"></td>
                            <td class="checkcol">
                                <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                            </td>
                        </tr>
                        <tr style="" class="">
                            <td style="width: 94px; text-align: left" class="ellipsis">
                                英语
                            </td>
                            <td class="checkcol">
                                <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                            </td>
                            <td class="checkcol">
                                <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                            </td>
                            <td class="checkcol">
                                <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                            </td>
                        </tr>
                        <tr style="" class="">
                            <td style="width: 94px; text-align: left" class="ellipsis">
                                法语
                            </td>
                            <td class="checkcol">
                                <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                            </td>
                            <td class="checkcol">
                                <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                            </td>
                            <td class="checkcol">
                                <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                            </td>
                        </tr>
                        <tr style="" class="">
                            <td style="width: 94px; text-align: left" class="ellipsis">
                                意大利语
                            </td>
                            <td class="checkcol">
                                <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                            </td>
                            <td class="checkcol"></td>
                            <td class="checkcol">
                                <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                            </td>
                        </tr>
                        <tr style="" class="">
                            <td style="width: 94px; text-align: left" class="ellipsis">
                                德语
                            </td>
                            <td class="checkcol">
                                <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                            </td>
                            <td class="checkcol">
                                <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                            </td>
                            <td class="checkcol">
                                <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                            </td>
                        </tr>
                        <tr style="display: none;" class="">
                            <td style="width: 94px; text-align: left" class="ellipsis">
                                西班牙语
                            </td>
                            <td class="checkcol">
                                <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                            </td>
                            <td class="checkcol"></td>
                            <td class="checkcol">
                                <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                            </td>
                        </tr>
                        <tr style="display: none;" class="">
                            <td style="width: 94px; text-align: left" class="ellipsis">
                                波兰语
                            </td>
                            <td class="checkcol">
                                <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                            </td>
                            <td class="checkcol"></td>
                            <td class="checkcol">
                                <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                            </td>
                        </tr>
                        <tr style="display: none;" class="">
                            <td style="width: 94px; text-align: left" class="ellipsis">
                                葡萄牙语-巴西
                            </td>
                            <td class="checkcol">
                                <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                            </td>
                            <td class="checkcol"></td>
                            <td class="checkcol">
                                <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                            </td>
                        </tr>
                        <tr style="display: none;" class="">
                            <td style="width: 94px; text-align: left" class="ellipsis">
                                俄语
                            </td>
                            <td class="checkcol">
                                <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                            </td>
                            <td class="checkcol"></td>
                            <td class="checkcol">
                                <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                            </td>
                        </tr>
                        <tr style="display: none;" class="">
                            <td style="width: 94px; text-align: left" class="ellipsis">
                                韩语
                            </td>
                            <td class="checkcol">
                                <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                            </td>
                            <td class="checkcol"></td>
                            <td class="checkcol">
                                <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                            </td>
                        </tr>
                        <tr style="display: none;" class="">
                            <td style="width: 94px; text-align: left" class="ellipsis">
                                日语
                            </td>
                            <td class="checkcol">
                                <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                            </td>
                            <td class="checkcol"></td>
                            <td class="checkcol">
                                <img src="https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_bluecheck.png">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a class="all_languages" onclick="$J('table.game_language_options tr').show(); $J(this).hide(); return false">查看所有 11 种已支持语言</a>

            </div>
        </div>
        <!--支持语言-->
        <div>
            <div class="block responsive_apppage_details_right">
                <table cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td valign="top">
                                <p><a href="http://www.pegi.info/"><img src="https://steamstore-a.akamaihd.net/public/images/ratings/PEGI/18.gif"></a></p>
                            </td>
                            <td width="10"></td>
                            <td valign="top">
                                <p id="descriptorText">
                                    Bad Language<br>
                                    Violence
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <!--开发商之类的-->
        <div>
            <div class="block responsive_apppage_details_left game_details underlined_links">
                <div class="block_content">
                    <div class="block_content_inner">
                        <div class="details_block">
                            <b>名称:</b> The Surge<br>

                            <b>类型:</b> <a href="https://store.steampowered.com/genre/Action/?snr=1_5_9__408">动作</a>, <a href="https://store.steampowered.com/genre/RPG/?snr=1_5_9__408">角色扮演</a><br>

                            <div class="dev_row">
                                <b>开发商:</b>

                                <a href="https://store.steampowered.com/developer/DECK13?snr=1_5_9__creator-home-product-page">Deck13</a>
                            </div>

                            <div class="dev_row">
                                <b>发行商:</b>

                                <a href="https://store.steampowered.com/publisher/Focus?snr=1_5_9__creator-home-product-page">Focus Home Interactive</a>
                            </div>


                            <b>发行日期:</b> 2017年5月16日<br>

                        </div>


                        <div class="details_block">
                            <br>


                            <a class="linkbar" href="https://steamcommunity.com/linkfilter/?url=http://www.thesurge-game.com/" target="_blank" rel="noreferrer noopener">
                                访问网站 <img src="https://steamstore-a.akamaihd.net/public/images/v5/ico_external_link.gif" border="0" align="bottom">
                            </a>






                            <a class="linkbar" href="https://store.steampowered.com/news/?appids=378540" target="_blank" rel="noreferrer">
                                查看更新记录
                            </a>
                            <a class="linkbar" href="https://store.steampowered.com/news/?appids=378540" target="_blank" rel="noreferrer">
                                阅读相关新闻
                            </a>

                            <a class="linkbar" href="https://steamcommunity.com/app/378540/discussions/" target="_blank" rel="noreferrer">
                                查看讨论
                            </a>

                            <a class="linkbar" href="https://steamcommunity.com/actions/Search?T=ClanAccount&amp;K=The%20Surge">
                                查找社区组
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="block responsive_apppage_details_left">
                <a class="btnv6_blue_hoverfade btn_medium" href="#" onclick="ShowShareDialog(); return false;"><span>分享</span></a>
                <a class="btnv6_blue_hoverfade btn_medium" href="#" onclick="ShowEmbedWidget(378540); return false;"><span>嵌入</span></a>
                <a id="ReportAppBtn" class="btnv6_blue_hoverfade btn_medium" href="javascript:void(0)" onclick="ShowReportDialog(378540)"><span data-tooltip-text="举报该产品"><i class="ico16 reportv6"></i>&nbsp;</span></a>
            </div>
        </div>

    </div>
    <!-- End Right Column -->
    <div class="leftcol game_description_column">
        <div id="game_area_purchase">
            <!--[if lte IE 7]>
            <style type="text/css">
            .game_area_purchase_game_dropdown_right_panel .btn_addtocart { float: none; }
            </style>
            <![endif]-->
            <div class="game_area_purchase_game_wrapper">
                <div class="game_area_purchase_game">
                    <form name="add_to_cart_160760" action="https://store.steampowered.com/cart/" method="POST">
                        <input type="hidden" name="snr" value="1_5_9__403">
                        <input type="hidden" name="action" value="add_to_cart">
                        <input type="hidden" name="sessionid" value="06d41e9dc42b69a69d6e53bc">
                        <input type="hidden" name="subid" value="160760">
                    </form>
                    <div class="game_area_purchase_platform"><span class="platform_img win"></span></div>
                    <h1>购买 The Surge</h1>
                    <p class="game_purchase_discount_countdown">特价促销！10月22日 截止</p>
                    <div class="game_purchase_action">
                        <div class="game_purchase_action_bg">
                            <div class="discount_block game_purchase_discount"> <div class="discount_pct">-60%</div><div class="discount_prices"><div class="discount_original_price">¥ 98</div><div class="discount_final_price">¥ 39</div></div></div>													<div class="btn_addtocart">
                                <a class="btnv6_green_white_innerfade btn_medium" href="javascript:addToCart(160760);">
                                    <span>添加至购物车</span>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div><!-- game_area_dlc_section -->

        </div>
        <!-- game_area_purchase -->
        <div class="purchase_area_spacer">&nbsp;</div>
        <!-- Announcements block -->
        <div class="early_access_announcements">
            <div style="display: inline-block; margin: 20px 0 0 0;  width: 4%;  /* height: 190px; */ "></div>
        </div>
        <div id="game_area_reviews" class="game_area_description">
            <h2>评测</h2>
            <p>“More than a Sci-Fi Dark Souls”<br><a href="http://www.ign.com/articles/2017/02/08/the-surge-is-succeeding-at-being-more-than-a-sci-fi-dark-souls" target="_blank" rel="noreferrer">IGN</a><br><br>“An absolute blast to play”<br>8/10 – <a href="https://steamcommunity.com/linkfilter/?url=https://www.pcgamesn.com/the-surge/the-surge-pc-review" target="_blank" rel="noopener">PCgamesN</a><br><br>“The Surge may be the biggest surprise of 2017 so far”<br>8/10 – <a href="https://steamcommunity.com/linkfilter/?url=https://www.polygon.com/2017/5/15/15643798/the-surge-review" target="_blank" rel="noopener">Polygon</a><br></p>
        </div>

        <div class="game_page_autocollapse_ctn">
            <div class="game_page_autocollapse" style="max-height: none;">
                <div id="game_area_description" class="game_area_description">
                    <h2>关于这款游戏</h2>
                    <a href="https://steamcommunity.com/linkfilter/?url=https://www.twitch.tv/videos/143938807" target="_blank" rel="noopener"><img src="https://cdn.steamstatic.com.8686c.com/steam/apps/378540/extras/TheSurge_Twitch_DevSession_616x200_Replay.jpg?t=1539081140"></a><br><br>欢迎来到CREO。巨大组织拯救了世界！<br><br>工作的第一天，一场突发性事故让你晕了过去。醒来时，你发现身处一个被毁的区域里，身上还装备着一具重型外骨骼机甲。失控的机器人，近乎疯癫的同事和无良AI——一切都想至你与死地。<br><br>在紧张的维瑟罗混战游戏中，对抗致命的敌人和强大的boss。瞄准目标，利用前卫掠夺系统切断敌人的四肢，掠夺切割下的部位做为装备。装备并升级从敌人那里切割下的装备，以制造出新的武器和机甲。通过全新升级让自己更强大。<br><br><img src="https://cdn.steamstatic.com.8686c.com/steam/apps/378540/extras/TS-Steam-FOND.png?t=1539081140">
                </div>
            </div><div class="game_page_autocollapse_fade"><div class="game_page_autocollapse_readmore">展开阅读</div></div>
        </div>

        <!--系统配置-->
        <div class="game_page_autocollapse_ctn">
            <div class="game_page_autocollapse sys_req" style="max-height: none;">
                <h2>系统需求</h2>
                <div class="sysreq_contents">
                    <div class="game_area_sys_req sysreq_content active" data-os="win">
                        <div class="game_area_sys_req_leftCol">
                            <ul>
                                <strong>最低配置:</strong>
                                <br>
                                <ul class="bb_ul"><li>需要 64 位处理器和操作系统<br></li><li><strong>操作系统:</strong> Windows 7/8/10 (64-bit)<br></li><li><strong>处理器:</strong> AMD FX-8320 (3,5 GHz) / Intel i5-4690K (3,5 GHz)<br></li><li><strong>内存:</strong> 8 GB RAM<br></li><li><strong>图形:</strong> 1 GB, AMD Radeon R7 360 / NVIDIA GeForce GTX 560 Ti<br></li><li><strong>DirectX 版本:</strong> 11<br></li><li><strong>网络:</strong> 宽带互联网连接<br></li><li><strong>存储空间:</strong> 需要 15 GB 可用空间<br></li><li><strong>附注事项:</strong> INTERNET CONNECTION REQUIRED FOR GAME ACTIVATION</li></ul>
                            </ul>
                        </div>
                        <div class="game_area_sys_req_rightCol">
                            <ul>
                                <strong>推荐配置:</strong>
                                <br>
                                <ul class="bb_ul"><li>需要 64 位处理器和操作系统<br></li><li><strong>操作系统:</strong> Windows 7/8/10 (64-bit)<br></li><li><strong>处理器:</strong> AMD FX-8370 (4,0 GHz) / Intel Core i7-3820 (3,6 GHz)<br></li><li><strong>内存:</strong> 16 GB RAM<br></li><li><strong>图形:</strong> 4 GB, AMD Radeon RX 480 / NVIDIA GeForce GTX 970<br></li><li><strong>DirectX 版本:</strong> 11<br></li><li><strong>网络:</strong> 宽带互联网连接<br></li><li><strong>存储空间:</strong> 需要 15 GB 可用空间<br></li><li><strong>附注事项:</strong> INTERNET CONNECTION REQUIRED FOR GAME ACTIVATION</li></ul>
                            </ul>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div><div class="game_page_autocollapse_fade"><div class="game_page_autocollapse_readmore">展开阅读</div></div>
        </div>
        <script type="text/javascript">
            $J(function () {
                var $Tabs = $J('.sysreq_tab');
                var $Content = $J('.sysreq_content');

                $Tabs.click(function () {
                    var $Tab = $J(this);
                    $Tabs.removeClass('active');
                    $Tab.addClass('active');

                    $Content.removeClass('active');
                    $Content.filter('[data-os=' + $Tab.data('os') + ']').addClass('active');

                    $Content.trigger('gamepage_autocollapse_expand');
                });
            });
        </script>
        <!--游戏版权-->
        <div class="game_page_autocollapse_ctn">
            <div class="game_page_autocollapse" style="max-height: none;">
                <div id="game_area_legal">
                    <p>©2017 Deck13 and Focus Home Interactive. Deck13 and its logos are trademarks or registered trademarks of Deck13. Focus Home Interactive and its logos are trademarks or registered trademarks of Focus Home Interactive. All other trademarks, registered trademarks and their logos belong to their respective owners. All rights reserved.</p>
                </div>
        </div>
        <div id="responsive_apppage_reviewblock_ctn" class="rightcol game_meta_data" style=""></div>

    </div>
    <div style="clear: both;"></div>
</div>